label{
    padding-left: 0px;
    margin-left: 10px !important;
}
img{
    width: 100%;
}
a{
    text-decoration: none !important;
    color: #000000;
}
.loginform{
    background-color: #e3e3e3;
}
.btnlogin{
    width: 100%;
    font-size: 30px;
}
.colbtnlogin{
    margin: 10px;
}
.erpcard{
    background-color: #e7e7e7;
    margin: 10px;
    padding: 10px;
}
.menor-minimo {
    background-color: #ffa8a8 !important;
}

.menor-cuarto {
    background-color: #ffffaf !important;
}

.mayor-cuarto {
    background-color: #aaffaa !important;
}

.cardstats{
    border: 1px solid #2c5b87;
    border-radius: 12px;
    background-color: #fff;
    color: #000000;
}

.cardstats h3{
    font-size: 20px;
    color: #000;
}

.cardstats p{
    font-size: 35px;
    color: #000;
}

.cardstats i{
    font-size: 20px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: #2c5b87;
}

/* Margen para el elemento "Show entries" */
.dataTables_length {
    margin-bottom: 18px !important;
}

/* Margen para el elemento "Search" */
.dataTables_filter {
    margin-bottom: 18px !important;
}
.card-header{
    padding-top: 10px !important;
    background-color: #222222 !important;
    color: #ffffff !important;
}
.dataTable{
    border-top: 1px solid #c7c7c7 !important;
}

#floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px 10px;
}

.modal-footer{
    padding-bottom: 0px !important;
}

.btn-warning{
    background-color: #fc9d03 !important;
    color: #fff !important;
}