label{
    margin-left: 10px;
}
img{
    width: 100%;
}
.loginform{
    background-color: #e3e3e3;
}
.btnlogin{
    width: 100%;
    font-size: 30px;
}
.colbtnlogin{
    margin: 10px;
}
.erpcard{
    background-color: #e7e7e7;
    margin: 10px;
    padding: 10px;
}
.menor-minimo {
    background-color: #ffa8a8 !important;
}

.menor-cuarto {
    background-color: #ffffaf !important;
}

.mayor-cuarto {
    background-color: #aaffaa !important;
}